<!doctype html>
<html>
<head>
    <title>Fitness Market App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Fitness Market App</h1>

        <p>Login or Register with:</p>

        <a href="/trainer/login" class="btn btn-default"><span class="fa fa-user"></span> Login as Trainer</a>
        <a href="/client/login" class="btn btn-default"><span class="fa fa-user"></span> Login as Client</a>
        <br>
    </div>

</div>
</body>
</html>