<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Fitness Market App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1>Login as Trainer</h1>
            <br>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <br>
                <!-- show any messages that come back with authentication -->
                <% if (facebookWarning.length > 0) { %>
                    <div class="alert alert-danger"><%= facebookWarning %></div>
                    <% } %>

                <!-- LOGIN FORM -->
                <form action="/trainer/login" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>

                <hr>

                <p>Need an account? <a href="/trainer/signup">Signup</a></p>
                <p><a href="/trainer/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook">   | </span> Login with Facebook</a> Or go <a href="/gym/">home</a>.</p>

            </div>

        </div>
    </body>
    </html>