<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Fitness Market App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:20px; }
    </style>
</head>
<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1>Sign up as Trainer</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/trainer/signup" method="post">
                    <!-- Account Details -->
                    <Legend>Account Details</Legend>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" required="Email is required">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <Legend>Trainer Profile</Legend>
                    <!-- Profile Details -->
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>

                    <div class="form-group">
                        <label>About Trainer</label>
                        <input type="text" class="form-control" name="description" required>
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" class="form-control" name="age" required>
                    </div>

                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="date" class="form-control" name="birthday" required>
                    </div>

                    <div class="form-group">
                        <label>Hourly Rate(<i style = 'color: gray;'>in dollars</i>)</label>
                        <input type="number" class="form-control" name="rate" required>
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phone" required>
                    </div>

            
                    <div class="form-group">
                        <label>Image Link for Profile Photo</label>
                        <input type="text" class="form-control" name="image" required>
                        <p style = 'color: gray'><i>This is only temporary field until image upload is added</i></p>
                    </div>

                    <Legend>Address</Legend>
                    <div class="form-group">
                        <label>Line 1</label>
                        <input type="text" class="form-control" name="address" required>
                    </div>
                    <div class="form-group">
                        <label>Line 2</label>
                        <input type="text" class="form-control" name="address">
                    </div>
                    <div class="form-group">
                        <label>Line 3</label>
                        <input type="text" class="form-control" name="address">
                    </div>

                    <Legend>Specialize in</Legend>
                    <div class="form-group">
                        <input type="text" class="form-control" name="specialization" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="specialization">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="specialization">
                    </div>

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>

                </form>

                <hr>

                <p>Already have an account? <a href="/trainer/login">Login</a></p>
                <p>Or <a href="/gym/">View List of Gym</a>.</p>

            </div>

        </div>
    </body>
    </html>